# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
.pytest_cache/

# Secrets
.env
.env.local
*.pem

# Visual Studio
.vs/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
